{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        // ↓falseでランダムなclassNameにしてくれる
        "displayName": false,
        "preprocess": false
      }
    ]
  ]
}